# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI - Blazor Server

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      working-directory: Demo
      run: dotnet restore

    - name: Build
      working-directory: Demo
      run: dotnet build --no-restore --configuration Release

    - name: Test
      working-directory: Demo
      run: dotnet test --no-build --configuration Release

